#select_wrap{margin-top:16px}
.brlist_div{padding:8px 8px}
.brlist_img{padding-top:30%;}/* ratio */
.br_bookmark{position:absolute;z-index:9999;top:17px;right:16px}
.brlist_top_txt{text-align:center}
.brlist_top{margin-bottom:16px}
.inner_box{border:1px solid #ddd;-webkit-box-shadow:0px 0px 5px 2px rgba(0,0,0,0.1);-moz-box-shadow:0px 0px 5px 2px rgba(0,0,0,0.1);box-shadow:0px 0px 5px 2px rgba(0,0,0,0.1)}
#br_site_atoz{width:300px;margin:16px auto;text-align:center;}
#br_site_atoz a{display:inline-block;margin:0 14px;color:#8C8B8B}
.sub_hr{width:300px;margin:0 auto;border-top:1px solid #8C8B8B}
.br_site_img{padding:8px;text-align:center}
.br_site_img img{max-width:100%;max-height:100%}
.br_site_li{padding:16px 8px}

@media(min-width:421px){
	#select_wrap div{float:left}
}
@media(max-width:420px){
	#select_wrap>div>select{width:100%}
}