#content{margin-top:0 !important}
.bx-wrapper .bx-viewport{left:0 !important; border:0 !important;box-shadow:none !important}
.bx-wrapper{margin-bottom:0 !important}
#main_slide .bx-wrapper img{width:100% !important}
#main_slide .slide{width:100%;height:300px}
#br_slide .slide{height:100px}
#hd_slide_wrap{padding:8px}
#hd_slide_wrap_inner{height:100%;background-color:#fff}
.img_center img{display:inline !important}
.imglist_div_inner{padding-top:16px;padding-bottom:16px;background-color:#fff}
.imglist_div2{padding:8px}
.imglist_div3:nth-of-type(6){clear:both}
.bx-wrapper .bx-caption{background-color:#fff !important;text-align:center}
.bx-wrapper .bx-caption span{padding:0 !important;font-size:18px !important;color:#8C8B8B !important}
#slide1{background:url(https://s3-ap-northeast-1.amazonaws.com/boxone-image/main_image_1.jpg) center;background-size:cover}
#slide2{background:url(https://s3-ap-northeast-1.amazonaws.com/boxone-image/main_image_2.jpg) center;background-size:cover}
#slide3{background:url(https://s3-ap-northeast-1.amazonaws.com/boxone-image/main_image_3.jpg) center;background-size:cover}
#hd_wrap{padding-top:32px;padding-bottom:32px;background-color:#f8f7f7}
#br_top{text-align:center}
#hd_content .bx-wrapper{max-width:1024px !important}
.slide_over{width:100%;height:100%;padding-top:80px;background-color:rgba(0,0,0,0.5);text-align:center}
.slide_over button{padding:8px 32px;border-radius: 25px;font-size:16px;font-weight:bold}
.slide_hr{width:150px;margin:32px auto 16px auto}
.slide_h1{font-size:26px;margin-bottom:16px}
.slide_h2{font-size:14px;margin-top:8px}
.bx-pager{position:relative !important;bottom:0 !important}

.cate_title_wrap{position:relative}
.cate_title{position:absolute;z-index:10;padding:8px 16px;border:1px solid #8C8B8B;background-color:#fff;top:-16px;left:32px}
.cate_title_hr{z-index:5;margin-top:32px;margin-bottom:32px;border-top:1px solid #8C8B8B}

@media(min-width:768px){
	#hd_slide_wrap_inner{padding-top:15%}
}
@media(max-width:767px){
	#hd_slide_wrap{height:auto !important}
	#hd_slide_wrap_inner{padding-top:32px;padding-bottom:32px}
}
