#mypage_wrap {
	max-width: 992px;
	margin: 0 auto;
	padding: 10px;
}
.mypage_box_wrap {
	padding: 15px;
}
.mypage_box {
	padding: 10px;
	border: 1px solid #ccc;
	background-color: white;
}
.mypage_box_header span {
	float: left;
	font-size: 18px;
	font-weight: bold;
	color: #aaa;
	margin-top: 7px;
	margin-left: 5px;
}
.mypage_modify_btn {
	float: left;
	background-image: none;
	margin-top: 10px;
}
.mypage_box_content table {
	margin-top: 25px;
}
.mypage_box_content table tbody tr td {
	border-top: 0;
}
.mypage_box_content table tbody tr td:first-child {
	width: 80px;
}
.mypage_box_content a img {
	width: 60px;
	height: 60px;
	border-radius: 50% !important;
}
#nickname {
	float: left;
}
@media (max-width: 767px) {
	.mypage_box {
		height: 100%;
	}
}
@media (min-width: 768px) {
	.mypage_box {
		height: 220px;
	}
	#direct_info .mypage_box {
		height: 300px; 
	}
}
.basis_img {
	width: 20px;
	height: 20px;
}
.form_margin {
	margin-top: 5px;
	margin-bottom: 5px;
}
#post {
	width: 150px;
    float: left;
    margin-top: 0px;
}
#post_btn {
    width: 100px;
    float: left;
    margin-left: 8px;
}
#mod_profile_img a img {
	width: 100px;
	height: 100px;
	border-radius: 50% !important;
}
