#mypage_top_wrap{width:100%;height:100%;padding-top:16px;padding-bottom:16px;background-color:#a4d0d1}
.mp_alarm{margin-top:16px}
.top_div2{cursor:pointer}

@media(min-width:768px){
	.top_div1{width:34%;border-right:1px solid #f9957f}
	.top_div2{width:22%}
	.top_div1>p,.top_div2>p{margin-top:16px}
	.mp_ico{width:80px;height:80px}
	.mp_alarm span{padding:4px 8px;background-color:#F2B2A1;border-radius:10px}
}
@media(max-width:767px){
	.top_div1{width:100%}
	.top_div2{position:relative;width:33.333333%;margin-top:32px}
	.top_div1>p,.top_div2>p{margin-top:8px}
	.mp_ico{width:24px;height:24px}
	.mp_alarm{position:absolute;top:-34px;left:60%}
}