.fotorama--fullscreen .fotorama__nav, .fotorama--fullscreen .fotorama__stage {
    background: #fff !important;
}
#product_wrap {
	max-width: 992px;
	margin: 0 auto;
}
#product_category {
	padding: 20px;
}
#product_category a {
	font-size: 12px;
}
#product_img_wrap {
	height: 700px;
}
.fotorama {
	margin-top: 100px;
}
#size_select {
	max-width: 150px;
	float: left;
}
#product_brand {
	font-weight: bold;
}
#product_name {
	color: #686666;
}
#product_site {
	color: #F15A63;
}
#original_price {
	color: #8c8b8b;
	text-decoration: line-through;
}
#sale_price {
	font-weight: bold;
}
.desc_title {
	color: #686666;
	font-weight: bold;
	float: left;
}
#ship_price, #product_color {
	color: #8c8b8b;
}
#review_text {
	padding: 10px;
	text-align: center;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
@media (max-width: 768px) {
	.fotorama {
		margin-top: 0;
	}
	#product_img_wrap {
		height: 500px;
	}
	#product_desc_wrap {
		margin-top: 90px;
	}
}