#pd_desc table tr td{padding:12px 8px}
#pd_desc table tr td:first-of-type{width:80px}
#pd_desc table tr td:nth-of-type(2){text-align:right}
.pd_btn{width:100%;height:48px}
#size_selectbox{width:100%}
#desc_nav_wrap{background-color:#f15a63;clear:both}
#desc_nav_wrap a{margin:0 16px;color:#fff;font-weight:bold;font-style:italic}
.info_title{color:#f15a63;border-top:1px solid #f15a63;border-bottom:1px solid #f15a63}
.compare_inner{padding:16px;background-color:#f8f7f7}
.compare_buy_btn{padding:4px 16px}
