#container{}
#sm_content{padding-top:16px;padding-bottom:16px;background-color:#E05A71}
.sm_menu_li1{padding:16px 8px;border-bottom:1px solid #ccc;font-size:16px;font-weight:bold}
.sm_menu_li2{position:relative;padding:12px 16px;border-bottom:1px solid #eee;font-size:14px;font-weight:bold}
.sm_menu_li1 a, .sm_menu_li2 a{display:block}
.sm_li_set li{font-size:14px}
.sm_li_set2{margin-top:16px}
.sm_li_set2 li{float:left;width:20%;text-align:center}
#sm_profile{margin-top:-2px;margin-right:4px}
#sm_quit_btn{margin-top:6px}
.sm_menu_arrow{position:absolute;margin-top:4px;right:16px}
.collapse_menu nav{width:100%;padding-top:8px}
.modal-dialog{width:300px !important;margin:32px auto !important}
.modal-body{padding:0 8px 16px 8px !important}

.sub_menu{min-height:135px;margin:0;padding:8px 8px;text-align:left}
.sub_menu li:first-of-type a{font-size:14px;font-weight:bold}
.sub_menu li:not(:first-of-type){margin-top:4px}
.sub_menu li:not(:first-of-type) a{margin-top:4px;font-size:11px;font-weight:normal;color:#8C8B8B}
.sub_menu_img{margin-top:8px;margin-left:0;padding:16px 0 20px 0;border-top:1px solid #ccc;border-left:transparent}
.sub_menu_img li{float:left;width:50%}
.sub_menu_img li a img{width:100%;height:auto}
.sub_menu_img li:first-of-type a img{padding-right:8px}
.sub_menu_img li:nth-of-type(2) a img{padding-left:8px}
.sub_menu_img li:nth-of-type(2){margin-top:0}
.sub_menu_cb{clear:none}

@media(max-width:1023px){
	#container{margin-top:0}
}
@media(min-width:768px){
	.sub_menu{width:25%}
}
@media(max-width:767px){
	.sub_menu{width:33.33333333%}
}
@media(max-width:420px){
	.sub_menu{width:50%}
}
